training-module4/src/main/mule/training4-american-ws.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fb7dd9c3-327a-4500-9f88-060629d896cb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="5a98adad-2625-42ae-8522-26555655858d" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="e58a8044-a09d-498a-8898-b7db90170d00" >
		<db:generic-connection url="jdbc:mysql://mudb.learn.mulesoft.com:3306/training?user=mule&amp;password=mule" driverClassName="com.mysql.jdbc.Driver" user="mule" password="mule" />
	</db:config>
	<flow name="getFlights" doc:id="892684aa-7e92-48dc-b94b-24d8f1d2f25a" >
		<http:listener doc:name="Listener" doc:id="0231b2e4-097a-4706-b832-9c682c207fb2" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET"/>
		<db:select doc:name="Select" doc:id="b0d7e416-3edd-438d-990b-d134fa59e9a4" config-ref="Database_Config1">
			<db:sql ><![CDATA[SELECT * FROM american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="d2567846-2344-456d-aa8c-aae47ca50209" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightByID" doc:id="25a4282d-14a9-4d05-ac9e-c1127297ab07" >
		<http:listener doc:name="Copy_of_Listener" doc:id="ea51adbe-4819-420b-9ea8-8d12f9abaf4c" config-ref="HTTP_Listener_config" path="/flights/{ID}" allowedMethods="GET" />
		<db:select doc:name="Copy_of_Select" doc:id="bb261c1d-410f-4ceb-84c0-6c296b2f5d7a" config-ref="Database_Config1" >
			<db:sql ><![CDATA[SELECT * FROM american WHERE ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="ecbd5665-f803-46cf-a5e3-974359b077d1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postFlight" doc:id="6d48629f-744d-4f76-ae4f-3e4d93bd010c" >
		<http:listener doc:name="Listener" doc:id="29676029-2ac4-4bde-bf09-283dfeaee58a" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="POST"/>
		<set-payload value='{"message": "Flight added (but not really)"}' doc:name="Set Payload" doc:id="31281e9d-c2b5-4e26-ad70-53473edb2917" />
	</flow>
</mule>
